<h3><%=   @email_domain   %></h3>
<br> <a href="http://<%= @email_domain %>" target="_blank">View domain</a>

<%= form_for(@domain) do |f| %>
  <% if @domain.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved:</h2>

      <ul>
      <% @domain.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">

    <%= f.hidden_field :url, :value =>@email_domain.to_s %>
  </div>
  <div class="field">
    <%#= f.label :sat_bridge %><br>
    <%#= f.number_field :sat_bridge %>
  </div>
  <div class='btn-group btn-lg' data-toggle='buttons'>

    <label class='btn btn-primary'>
      <%= f.radio_button(:sat_bridge, Email::BRIDGEVALUE[1], class:'btn-lg')%><%= Email::BRIDGENAMES[1]%>
    </label>
    <label class='btn btn-primary'>
      <%= f.radio_button(:sat_bridge, Email::BRIDGEVALUE[2], class:'btn-lg')%><%= Email::BRIDGENAMES[2]%>
    </label>
    <label class='btn btn-primary'>
      <%= f.radio_button(:sat_bridge, Email::BRIDGEVALUE[3], class:'btn-lg')%><%= Email::BRIDGENAMES[3]%>
    </label>
    <label class='btn btn-primary'>
      <%= f.radio_button(:sat_bridge, Email::BRIDGEVALUE[4], class:'btn-lg')%><%= Email::BRIDGENAMES[4]%>
    </label>
    <label class='btn btn-primary'>
      <%= f.radio_button(:sat_bridge, Email::BRIDGEVALUE[5], class:'btn-lg')%><%= Email::BRIDGENAMES[5]%>
    </label>
    <label class='btn btn-primary'>
      <%= f.radio_button(:sat_bridge, Email::BRIDGEVALUE[6], class:'btn-lg')%><%= Email::BRIDGENAMES[6]%>
    </label>
    <label class='btn btn-primary'>
      <%= f.radio_button(:sat_bridge, Email::BRIDGEVALUE[7], class:'btn-lg')%><%= Email::BRIDGENAMES[7]%>
    </label>
    <label class='btn btn-primary'>
      <%= f.radio_button(:sat_bridge, Email::BRIDGEVALUE[8], class:'btn-lg')%><%= Email::BRIDGENAMES[8]%>
    </label>
    <label class='btn btn-primary'>
      <%= f.radio_button(:sat_bridge, Email::BRIDGEVALUE[9], class:'btn-lg')%><%= Email::BRIDGENAMES[9]%>
    </label>
</div>
  <div class="field">
    <%= f.hidden_field :cluster_id, :value =>3 %>
  </div>
  <div class="field">
    <%#= f.label :global_bridge %><br>
    <%#= f.number_field :global_bridge %>
  </div>
  <div class="actions">
    <%= f.submit "Classify domain"%>
  </div>
  <%end%>
