<p id="notice"><%= notice %></p>

<p>
  <strong>Domain:</strong>
  <%= @domain.url %>
</p>

<p>
  <strong>Bridge:</strong>
  <%= Email::BRIDGENAMES[@domain.sat_bridge] %>
</p>


<p>
  <strong>Global bridge:</strong>
  <%= if @domain.sat_bridge == 6
    Email::BRIDGENAMES[@domain.global_bridge] || N/A
  end %>
</p>

<%= link_to 'Edit', edit_domain_path(@domain) %> |
<%= link_to 'Back', domains_path %>
