<%= form_for(@email) do |f| %>
  <% if @email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
      <% @email.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :id %>:<%= @email.id %><br>
  </div>
  <div class="field">
    <%= f.label :email_domain %>:<%= @email.email_domain %><br>
  </div>

  <div class="field">
    <%= f.label "This domain was contacted" %>:<%= @email.email_frequency.to_s + " times"%><br>
  </div>
  <div class="field">
    <%= f.label "time period" %>:<%= @email.month.to_s %> / <%=@email.year%><br>
  </div>

  <div class="field">
    <%= f.label "cluster" %>: <%=@email.cluster.cluster_name%> <br>
  </div>
  <div class='btn-group btn-lg' data-toggle='buttons'>
    <% Email::BRIDGEVALUE.each do |bv| %>
      <label class='btn btn-primary'>
          <%= f.radio_button(:bridge, bv.to_s, class:'btn-lg')%><%= Email::BRIDGENAMES[bv]%>
      </label>
    <% end %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
