<div class="container">
  <h1>Email classification</h1>
  <p>
    <strong>Data composition:</strong> All records in this table need to be classified to a bridge. The data displayed here is currently excluding any records with <mark> less than four contacts</mark> during the month period.
  </p>
  <p>Download:
    <%= link_to 'CSV', emails_classify_path(format "csv") %> |
    <%= link_to 'Excel', emails_classify_path(format "xls") %>
  </p>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email Domain</th>
        <th>Bridge</th>
        <th>Frequency</th>
        <th>Cluster</th>
        <th>Month</th>
        <th>Year</th>
      </tr>
      <tbody>
        <% @emails_bridge0.each do |eb| %>
            <tr>
              <td><%= eb.id %> : <%= link_to "EDIT",edit_email_path(eb.id)%> </td>
              <td><%= eb.email_domain %></td>
              <td><%=eb.bridge%></td>
              <td><%=eb.email_frequency%></td>
              <td><%=eb.cluster_id%></td>
              <td><%=eb.month%></td>
              <td><%=eb.year%></td>
            <% end %>
            </tr>
      </tbody>
  </table>

</div>
