<div class="container">
  <h1>Domain classification</h1>
  <ul class="nav nav-pills">
    <li role="presentation"><%=link_to 'All domains', domains_path %></li>
    <li role="presentation" class="active"><%=link_to 'Unclassified domains', root_path %></li>
    <li role="presentation"><%=link_to 'Parked', domains_parked_path %></li>
    <li role="presentation" ><%=link_to 'Global domains', domains_global_path %></li>

  </ul>
  <p>
    <strong>Data composition:</strong> All records in this table need to be classified to a bridge. The <strong><%= @uniq_domains_count  %></strong> domains displayed here exclude any records with <mark> less than <%= Email::MINCONTACT %> contacts</mark> during the month period.
    To begin classifying, click <button type="button" class="btn btn-default btn-sm">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <%=link_to 'here', new_domain_path %>
</button>.

  </p>
  <p>Download:
    <%= link_to 'CSV', emails_classify_path(format "csv") %> |
    <%= link_to 'Excel', emails_classify_path(format "xls") %>
  </p>
</div>
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Domain</th>

      </tr>
      <tbody>
        <% @uniq_domains.each do |eb| %>
            <tr>
              <td><%= eb.email_domain %></td>
            <% end %>
            </tr>
      </tbody>
  </table>

</div>
