<ul class="nav nav-pills">
  <li role="presentation"><%=link_to '2013', emails_diversity2013_path %></li>
  <li role="presentation" class="active"><%=link_to '2014', emails_diversity_path %></li>
  <li role="presentation"><%=link_to '2015', emails_diversity2015_path %></li>
  <li role="presentation"><%=link_to '2016', emails_diversity2016_path %></li>
  <li role="presentation"><%=link_to '2017', emails_diversity2017_path %></li>
  <li role="presentation"><%=link_to '2018', emails_diversity2018_path %></li>
</ul>
<%=Email::DOMAINS_HASH%>
<%=high_chart("diversity_2014", @diversity_2014) %>
