<p id="notice"><%= notice %></p>
<h1>Emails in database</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Domain</th>
      <th>Bridge</th>
      <th>Bridge global</th>
      <th>Email frequency</th>
      <th>Month</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emails.each do |email| %>
      <tr>
        <td><%= link_to email.email_domain, edit_email_path(email) %></td>
        <td><%= email.bridge %></td>
        <td><%= email.bridge_global %></td>
        <td><%= email.email_frequency %></td>
        <td><%= email.month %></td>
        <td><%= email.year %></td>
        <td><%= link_to 'Edit', edit_email_path(email) %></td>
        <td><%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email', new_email_path %>
