<ul class="nav nav-pills">
  <li role="presentation"><%= link_to '2013', emails_intensity2013_path %></li>
  <li role="presentation"><%= link_to '2014', emails_intensity_achieved_path %></li>
  <li role="presentation" class="active"><%= link_to '2015', emails_intensity_achieved2015_path %></li>
  <li role="presentation"><%= link_to '2016', emails_intensity_achieved2016_path %></li>
  <li role="presentation"><%= link_to '2017', emails_intensity_achieved2016_path %></li>
  <li role="presentation"><%= link_to '2018', emails_intensity_achieved2016_path %></li>
</ul>
