<ul class="nav nav-pills">
  <li role="presentation"><%= link_to '2013', emails_intensity2013_path %></li>
  <li role="presentation" class="active"><%= link_to '2014', emails_intensity_achieved_path %></li>
  <li role="presentation"><%= link_to '2015', emails_intensity_achieved2013_path %></li>
  <li role="presentation"><%= link_to '2016', emails_intensity_achieved2016_path %></li>
  <li role="presentation"><%= link_to '2017', emails_intensity_achieved2016_path %></li>
  <li role="presentation"><%= link_to '2018', emails_intensity_achieved2016_path %></li>
</ul>

<%= high_chart("intensity_achieved", @intensity_achieved_chart2014) %>
<!--
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Goals</h3>
  </div>
  <div class="panel-body">
    <ul>
      </div>
</div> -->
