<ul class="nav nav-pills">
  <li role="presentation"><%= link_to '2013', emails_total2013_path %></li>
  <li role="presentation"><%= link_to '2014', emails_total_path %></li>
  <li role="presentation"><%= link_to '2015', emails_total2015_path %></li>
  <li role="presentation"><%= link_to '2016', emails_total2016_path %></li>
  <li role="presentation" class="active"><%= link_to '2017', emails_total2017_path %></li>
  <li role="presentation"><%= link_to '2018', emails_total2018_path %></li>
</ul>
<%= high_chart("metrics_total_2014", @total_contact2014) %>
