
<ul class="nav nav-pills">
  <li role="presentation"><%= link_to '2013', emails_volume2013_path %></li>
  <li role="presentation" class="active"><%= link_to '2014', emails_volume_path %></li>
  <li role="presentation"><%= link_to '2015', emails_volume2015_path %></li>
  <li role="presentation"><%= link_to '2016', emails_volume2016_path %></li>
  <li role="presentation"><%= link_to '2017', emails_volume2017_path %></li>
  <li role="presentation"><%= link_to '2018', emails_volume2018_path %></li>
</ul>
<%= high_chart("metrics_total_2014", @volume2014) %>
